@import 'src/styles.css';
.container {
    background-color: var(--color-amarillo);
    display: flex;
    flex-direction: row;
    padding: 20px 30px;
    justify-content: space-between;
}
ul {
    list-style: none;
    display: flex;
    flex-direction: row ;
    justify-content: left;
    
}
li {
    padding-right: 4rem;
}
a {
    font-size: 2rem;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

img {
    width: 30px;
    height: 30px;
}