<div class="container">
    <ul>
        <li>
            <a routerLink="/movies" routerLinkActive="active" ariaCurrentWhenActive="page">Movies</a>
        </li>
        <li>
            <a routerLink="/mylist" routerLinkActive="active" ariaCurrentWhenActive="page">My List</a>
        </li>
        <li>
            <a routerLink="/wachedmovies" routerLinkActive="active" ariaCurrentWhenActive="page">Wached Movies</a>
        </li>
    </ul>
    <div>
        <img src="../../../assets/login_1000997.png" alt="login">
        <a routerLink="/login" routerLinkActive="active">Login</a>
    </div>
</div>