<div class="container">
    <form action="">
        <div>
            <label for="">Username: </label>
            <input type="text" maxlength="20">
        </div>
        <div>
            <label for="">Email: </label>
            <input type="email" maxlength="20">
        </div>
        <div>
            <label for="">Password: </label>
            <input type="password" maxLength="40">
        </div>
        <button type="submit">Sing up</button>
        <button type="reset">Cancel</button>
    </form>
</div>